/.metadata/
/fr.n7.pdl1/
/fr.n7.pdl2/
/fr.n7.pdl3/
/fr.n7.pdl1.ide/
/fr.n7.pdl2.ide/
/fr.n7.pdl3.ide/
/fr.n7.pdl1.tests/
/fr.n7.pdl2.tests/
/fr.n7.pdl3.tests/
/fr.n7.pdl1.ui/
/fr.n7.pdl2.ui/
/fr.n7.pdl3.ui/
/fr.n7.pdl1.ui.tests/
/fr.n7.pdl2.ui.tests/
/fr.n7.pdl3.ui.tests/
